.addTuition{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    padding: 84px 200px;
    padding-top: 130px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}