.addTuition{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 84px 200px;
    padding-top: 130px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

button{
    width: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

