.tuition_box{
    width: 80%;
    height: auto;
    background-color: #d3bf918c;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.329);
    border-radius: 8px
}

.d_button {
    background-color: rgb(126, 2, 2);
}